<div class="card">
    <img class="card-img-top" src="/assets/images/projects/eclipse-openj9.svg">
    <div class="card-body">
        <h4 class="card-title">
            <a href="https://github.com/eclipse/openj9">Eclipse OpenJ9</a>
        </h4>
        <div class="card-subtitle">
            A Java Virtual Machine (JVM) for OpenJDK
        </div>
        <p class="card-text">
            An independent implementation of a Java Virtual Machine (JVM) for OpenJDK that's optimized for small
            footprint, fast start-up, and high throughput. The Eclipse OpenJ9 JVM combines with the Java Class
            Libraries (JCL) from OpenJDK to create a complete JDK that is well suited for cloud deployments.
        </p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/eclipse/openj9" class="btn btn-primary">
            <i class="fe fe-external-link mr-2"></i>Visit project
        </a>
    </div>
</div>
