<div class="card">
    <img class="card-img-top" src="/assets/images/projects/eclipse-omr.svg">
    <div class="card-body">
        <h4 class="card-title">
            <a href="https://github.com/eclipse/omr">Eclipse OMR</a>
        </h4>
        <div class="card-subtitle">
            Cross platform components for building reliable, high performance language runtimes
        </div>
        <p class="card-text">
            A set of C and C++ components that can be used to build robust language runtimes that support many
            different hardware and operating system platforms. It features an extensible garbage collection
            (GC) framework, components for building (JIT) compilers, among other components.
        </p>
    </div>
    <div class="card-footer">
        <a href="https://github.com/eclipse/omr" class="btn btn-primary">
            <i class="fe fe-external-link mr-2"></i>Visit project
        </a>
    </div>
</div>
