---
layout: fpl
title: Standings
icon: fe fe-list
order: 3
category: h2h
naked: true
---
{% include cards/fpl/h2h/standings.html id="q1" ajax="https://raw.githubusercontent.com/fjeremic/fpl/master/h2h/standings/q1.json" title="Q1 Standings" active="false" winner="JFC" %}
{% include cards/fpl/h2h/standings.html id="q2" ajax="https://raw.githubusercontent.com/fjeremic/fpl/master/h2h/standings/q2.json" title="Q2 Standings" active="false" winner="Van Der Trt Mrt FC" %}
{% include cards/fpl/h2h/standings.html id="q3" ajax="https://raw.githubusercontent.com/fjeremic/fpl/master/h2h/standings/q3.json" title="Q3 Standings" active="true" winner="" %}
{% include cards/fpl/h2h/standings.html id="q4" ajax="https://raw.githubusercontent.com/fjeremic/fpl/master/h2h/standings/q4.json" title="Q4 Standings" active="false" winner="" %}
