{{ define "main" }}
  <article class="max-w-full">
    <header>
      {{ if .Site.Params.article.showBreadcrumbs | default false }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
    </header>
    <section class="max-w-full mt-6 prose dark:prose-invert">
        <div class="!mb-9 text-xl lead">
          Things I've released into the world
        </div>
    </section>
    <section class="mt-8">
      {{ range .Pages }}
        <article class="pb-4">
          <a class="flex group" href="{{ .Params.externalUrl }}">
            <div class="mr-3 text-4xl text-neutral-400 dark:text-neutral-400 group-hover:text-primary-600 dark:group-hover:text-primary-400">
              <span class="relative inline-block align-text-bottom icon">
              {{ partial "icon.html" .Params.icon }}
              </span>
            </div>
            <div>
              <h3 class="flex text-xl font-semibold group-hover:underline group-hover:decoration-primary-500 group-hover:underline-offset-2">
                {{ .Title }}
              </h3>
              <p class="text-sm text-neutral-500">
                {{ .Description }}
              </p>
            </div>
          </a>
        </article>
      {{ end }}
    </section>
    <section class="max-w-full mt-6 prose dark:prose-invert">
      See more at <a href="{{ .Params.externalUrl }}">{{ .Params.externalName }}</a> →
    </section>
  </article>
{{ end }}