{% comment %}
Credits to Kertel: https://gist.github.com/Ketrel/1f36fca6b4148f7263b3ee8fdb0923e7
{% endcomment %}
{% assign base = '' %}
{% assign tempDepth = page.url | append: 'hackish-solution' | split: '/' | size | minus: 2 %}
{% for i in (1..tempDepth) %}
    {% assign base = base | append: "../" %}
{% endfor %}
{% if base == '' %}
    {% assign base = './' %}
{% endif %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Language" content="en" />
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#4188c9">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- favicon genereted via https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo/favicon-16x16.png">
<link rel="manifest" href="/assets/images/logo/site.webmanifest">
<link rel="mask-icon" href="/assets/images/logo/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/logo/favicon.ico">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/images/logo/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<title>
    {% if page.title %}
        {{ page.title }} - 
    {% endif %}
    {% if layout.title %}
        {{ layout.title }} -
    {% endif %}
    {{ site.website.description }}
</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
<script src="/assets/js/require.min.js"></script>
<script>
    requirejs.config({
        baseUrl: '/'
    });
</script>

<!-- Dashboard Core -->
<link href="/assets/css/dashboard.css" rel="stylesheet" />
<script src="/assets/js/dashboard.js"></script>

{% for plugin in site.theme-plugins %}
    <!-- {{ plugin[1].name }} Plugin -->
    {% if plugin[1].files contains 'css' %}
        <link href="/assets/plugins/{{ plugin[0] }}/plugin.css" rel="stylesheet" />
    {% endif %}
    {% if plugin[1].files contains 'js' %}
        <script src="/assets/plugins/{{ plugin[0] }}/plugin.js"></script>
    {% endif %}
{% endfor %}
