<div class="header py-4 d-lg-none">
	<div class="container">
		<div class="d-flex">
            <div class="d-flex order-lg-2 ml-auto"></div>
			<a href="#" class="header-toggler ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>

<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
			<div class="col-lg-3 ml-auto">
				<form class="input-icon my-3 my-lg-0" action="https://google.com/search" method="get">
					<input class="form-control header-search" type="text" name="q" placeholder="Search&hellip;">
                    <input type="hidden" name="sitesearch" value="{{ site.url }}"/>
					<div class="input-icon-addon">
						<i class="fe fe-search"></i>
					</div>
                </form>
			</div>
            <div class="col-lg order-lg-first">
                {% include menu.html %}
            </div>
        </div>
    </div>
</div>
